.cart-container {
    border: 1px solid white;
    border-radius: 8px;
    width: 90%;
    background-color: white;
    margin-top: 2%;
    margin-left: 5%;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
}

.cart2 {
    margin-bottom: 3%;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.btn-shopping {
    background-color: #f68b1e;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    text-decoration: none;
    width: 135px;
    height: 48px;
    text-align: center;
    border-radius: 3px;
    padding-top: 1%;
}

.btn-shopping:hover {
    background-color: #e07e1b;
}

.btn-shopping:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), inset 0 0 0 2px #af6315;
}

.cart-full {
    border: 1px solid white;
    border-radius: 3px;
    width: 68%;
    background-color: white;
    margin-top: 2%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.header-cart {
    font-size: 22px;
    width: 100%;
    border-bottom: 1px solid rgba(85, 85, 85, 0.596);
    padding: 1%;
}

.card-cart {
    width: 100%;
    padding: 2% 2% 4% 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 2px solid rgba(0, 0, 0, 0.225);
}

.img-cart {
    width: 90px;
    height: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);

}

.cart-logo {
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
}

.cart-title {
    font-size: 18px;
    margin-left: 2%;
    width: 100%;
}

.btn-remove {
    position: absolute;
    margin-top: 7%;
    color: #e07e1b;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    padding-top: 4px;
    border-radius: 5px;
}

.btn-remove:hover {
    background-color: #fcdbb9;

}

.cart-money {
    margin-right: 5%;
    width: 15%;
}

.cart-price {
    font-size: 18px;
    margin: 0;
    position: relative;
    font-weight: 600;
}

.cart-del {
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.cart-sales {
    color: #f68b1e;
    background-color: #fef3e9;
    width: 3%;
    font-size: 16px;
    position: absolute;
    margin-left: 86px;
    margin-top: -22px;
    font-weight: 600;
    text-align: center;
}

.btn-cart {
    display: flex;
    margin-top: 45%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 152%;
}

.btn-mins {
    color: white;
    background-color: #f68b1e;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: normal;
}

.btn-mins:hover {
    background-color: #e07e1b;
}


.btn-mins:disabled {
    opacity: .7;
}

.btn-plus {
    color: white;
    background-color: #f68b1e;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

.btn-plus:hover {
    background-color: #e07e1b;
}

.span-num {
    margin-left: 6%;
}

.CART-SUMMARY {
    width: 18%;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 28%;
    left: 70%;
}

.summary-header {
    font-size: 16px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.596);
    padding: 2%;
}

.p-headersumm {
    margin: 0;
}

.check-body {
    display: flex;
    padding: 2%;
    align-items: center;
    border-bottom: 1px solid rgba(85, 85, 85, 0.596);

}

.p-Subtotal {
    font-size: 16px;
}

.h-price {
    margin-left: 35%;
}

.span-cart2 {
    font-size: .75rem;
    opacity: .7;
    text-align: center;
}

.logo-ex {
    width: 150px;
    height: 25px;
    margin-left: -14%;
}

.check-body2 {
    border-bottom: 1px solid rgba(85, 85, 85, 0.596);
    padding: 1%;
}

.btn-check2 {
    color: white;
    background-color: #f68b1e;
    border: none;
    width: 100%;
    height: 37px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.btn-check2:hover {
    background-color: #e07e1b;
}
